<div class="container py-5">

  <div class="row mb-5">
    <div class="col-3" *ngFor="let post of allPosts$ | async; trackBy: trackByPostFn;">
      <app-post [post]="post"></app-post>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-3">
      <strong>Who commented on Post nr 1:</strong>
    </div>
    <div class="col">
      <span *ngFor="let author of commentersOnPost1$ | async; let last = last;">
        {{author.name + (!last?', ':"")}}
      </span>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-3">
      <strong>Most commented post:</strong>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row my-4">
    <div class="col-3">
      <strong>Top 3 commenters:</strong>
    </div>
    <div class="col">
    </div>
  </div>


</div>